/* Application: layouts. */
div {
    text-align: center;
    gap: 10px;
}
h2 {
    padding-top: 10px;
}
img {
    border: 1px solid;
}
img.border {
    border: 1px solid #939ba1;
}
img.icon {
    border: 0;
    height: 24px;
}
p.center {
    text-align: center;
}
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th, td {
    border: 1px solid #939ba1;
    padding: 3px;
}
th {
    background-color: #ebeeef;
}
td {
    background-color: #ffffff;
}
.Description {
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
}
.Column {
    display: flex;
    flex-direction: column;
}
.GridControls {
    display: grid;
    grid-template-columns: auto 200px;
    align-items: center;
    justify-items: right;
    justify-content: center;
    padding: 5px 0;
}
