.grid {
    stroke: #939ba1;
}
.all {
    stroke: #6688bb;
    stroke-width: 1px;
    fill: #99bbdd;
}
.selected {
    stroke: #99bbdd;
    stroke-width: 1px;
    fill: #6688bb;
}
.label {
    fill: black;
    font-size: 14px;
}
