/* Container */
.parent {
    position: relative;
}

/* SVG elements */
svg {
    border: 1px solid #939ba1;
    background-color: #ffffff;
    font-size: 10px;
    position: absolute;
    left: 0;
    z-index: 1;
    touch-action: none;
}
rect, line, path {
    pointer-events: none;
}
